<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Airopay Admin Dashboard</title>
    <link rel="shortcut icon" href="/img/logo1.png" type="image/x-icon"/>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

	<!-- scripts -->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->
    
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
	

    <style>
        * {
          box-sizing: border-box;
        }
        
        #myInput {
          background-image: url('/css/searchicon.png') !important;
          background-position: 10px 10px !important;
          background-repeat: no-repeat !important;
          width: 100% !important;
          font-size: 16px !important;
          padding: 12px 20px 12px 40px !important;
          border: 1px solid #ddd !important;
          margin-bottom: 12px !important;
        }
        
        /*#myTable {
          border-collapse: collapse !important;
          width: 100% !important;
          border: 1px solid #ddd !important;
          font-size: 18px !important;
        }*/
        .dataTables_filter{
            width: 700px !important;
            margin-left: -100px !important;
        }
        .dot {
          height: 5px !important;
          width: 5px !important;
          background-color: #bbb !important;
          border-radius: 50% !important;
          display: inline-block !important;
        }
        
        .new {
          column-count: 3 !important;
        }
        
        #myTable th, td {
          text-align: left !important;
          border: 1px solid #999;
          padding: 0.5rem;
        }
        
        #myTable {
          border-spacing: 0.5rem;
          width: 1160px !important;
        }
        
        
        /*#myTable tr.header, #myTable tr:hover {
          background-color: #f1f1f1 !important;
        }*/


</style>



</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/index">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div className="sidebar__title">
                    <div className="sidebar__img">
                        <img src="img/airopaylogo.png" alt="airopaylogo" />
    
                    </div>
                </div>

            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active" style="color:#000000; font-size: 40px; font-weight: bold; margin-left: 20px; margin-top: 40px; margin-bottom: -50px;"> 
                <a class="nav-link" style="color:#000000; font-size: 40px; font-weight: bold;" href="/index">
                    <i className=""></i>
                    <i class="fa fa-th-list fa-2x" style="color:#247c50; font-size: 20px;"></i> <span style="color:#000000; font-size: 17px;">Tier Management</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">



            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item" style="color:#000000; font-size: 40px; font-weight: bold; margin-left: 20px; margin-bottom: -50px;">
                <a class="nav-link collapsed" href="/notification" style="color:#000000; font-size: 40px; font-weight: bold; margin-left: 10px">
                    <i class="fa fa-bell fa-2x" style="color:#247c50; font-size: 20px;"></i><span style="color:#000000; font-size: 17px;">Notification</span>
                </a> 

            </li>


            <hr class="sidebar-divider">

            <li class="nav-item" style="color:#000000; font-size: 40px; font-weight: bold; margin-left: 20px; margin-bottom: -60px;">
                <a class="nav-link collapsed" href="/customers" style="color:#000000; font-size: 40px; font-weight: bold; margin-left: 10px">
                    <i class="fa fa-users fa-2x" style="color:#247c50; font-size: 20px;"></i><span style="color:#000000; font-size: 17px;">Customers</span>
                </a>

            </li>

            <!-- Nav Item - Utilities Collapse Menu -->


            <!-- Divider -->
            <hr class="sidebar-divider">



            <!-- Nav Item - Pages Collapse Menu -->
            
                

            
            
            

            <div class="account" style="margin-top: 200px; margin-left: 30px; margin-bottom: -20px;">
                <!-- Nav Item - Tables -->
                <li class="nav-item" style="color:#000000; font-size: 40px; font-weight: bold; margin-left: 10px">
                    <a class="nav-link" style="color:#000000; font-size: 80px; font-weight: bold;" href="/register">
                        <i class="fa fa-user fa-2x" style="color:#247c50; font-size: 20px;"></i><span style="color:#000000; font-size: 17px;">Create User</span></a>
                </li>
            </div>
            <div class="Logout1" style="margin-left: 30px; margin-top: -50px;">

                <!-- Nav Item - Tables -->
                <li class="nav-item" style="color:#000000; font-size: 40px; font-weight: bold; margin-left: 10px">
                    <a class="nav-link" style="color:#000000; font-size: 80px; font-weight: bold;" href="">
                        <i class="fa fa-sign-out fa-2x" style="color:#247c50; font-size: 20px;"></i><span style="color:#000000; font-size: 17px;">Logout</span></a>
                </li>
            </div>

            

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->




        

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-search fa-2x"></i>
                    </button>
                        



                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" style="margin-left: 1060px !important;" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Chidi Ugwu</span>
                                <img class="img-profile rounded-circle"
                                    src="img/avatar.jpeg">
                            </a>
                            <!-- Dropdown - User Information -->

                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Welcome Champ!</h1>
                        
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary " style="color:#000000;"><i
                                class="fa fa-download fa-sm text-white-50"></i> Download Report</a>

                    </div>
                    <div>
                        <a href="/allcustomers" class="" style="color:#002465">All Customers</a>&nbsp &nbsp
                        <a href="/customers" class="" style="color:#002465">Customers Details</a>
                    </div>
                    &#8287
                    &#8287
                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="col-auto">
                                        <img class="card-img-top rounded-circle circle-image" src="img/tier1.png" alt="Card image cap" style="width: 70px; height: 70px; margin-left: -15px; margin-top: -10px;"><img class="card-img-top rounded-circle circle-image" src="img/undraw_profile_1.svg" alt="Card image cap" style="width: 40px; height: 40px; margin-left: 200px; margin-top: -50px;">
                                    </div>
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Tier 1</div>
                                                &#8287
                                                &#8287
                                            <div class="h5 mb-0 font-weight-bold text-gray-800" style="font-size: 12px;">15 Users&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Last entery: 1min ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="col-auto">
                                        <img class="card-img-top rounded-circle circle-image" src="img/tier2.png" alt="Card image cap" style="width: 70px; height: 70px; margin-left: -15px; margin-top: -10px;"><img class="card-img-top rounded-circle circle-image" src="img/undraw_profile_1.svg" alt="Card image cap" style="width: 40px; height: 40px; margin-left: 200px; margin-top: -50px;">
                                    </div>
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Tier 2</div>
                                                &#8287
                                                &#8287
                                            <div class="h5 mb-0 font-weight-bold text-gray-800" style="font-size: 12px;">15 Users &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Last Entery:1min ago</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="col-auto">
                                        <img class="card-img-top rounded-circle circle-image" src="img/tier3.png" alt="Card image cap" style="width: 70px; height: 70px; margin-left: -15px; margin-top: -10px;"><img class="card-img-top rounded-circle circle-image" src="img/undraw_profile_1.svg" alt="Card image cap" style="width: 40px; height: 40px; margin-left: 200px; margin-top: -50px;">
                                    </div>
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Tier 3</div>
                                                &#8287
                                                &#8287
                                            <div class="h5 mb-0 font-weight-bold text-gray-800" style="font-size: 12px;">15 Users&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Last entery: 30 day ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <!--<div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="col-auto">
                                        <img class="card-img-top rounded-circle circle-image" src="img/tier4.png" alt="Card image cap" style="width: 70px; height: 70px; margin-left: -15px; margin-top: -10px;"><img class="card-img-top rounded-circle circle-image" src="img/undraw_profile_1.svg" alt="Card image cap" style="width: 40px; height: 40px; margin-left: 170px; margin-top: -130px;">
                                    </div>
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="color: #000000;">
                                                Incomplete</div>
                                                &#8287
                                                &#8287
                                            <div class="h5 mb-0 font-weight-bold text-gray-800" style="font-size: 12px;">15 Files &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Last Entery: 1min ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->

                    <!-- Content Row -->

                </div>
                <!-- /.container-fluid -->

            </div>

            <div id="content-wrapper" class="table-responsive col-md-12">
                  
                  <table id="myTable" class="container cust_table table table-striped col-md-12">
                      <thead>
                        <tr class="header">
                            <th>S/n</th>
                            <th>FullName</th>
                            <th>Account Number</th>
                            <th>Phone Number</th>
                            <th>Email</th>
                            <th>View details</th>
                            <th>Status</th>
                            <!--<th style="width:20%;">Action</th> -->
                          </tr>
                      </thead>
                      <tbody id="data">

                      </tbody>
                    
                    
                  
                  </table>
                  <script>
                    const token = window.localStorage.getItem('access_token');
                      fetch('https://api-admin.azurewebsites.net/api/airoadminconsole/airocustomersapplication', {
                          method:'GET',
                          headers:{
                            'Authorization': 'Bearer ' + token,
                          },
                          dataType:'json'
                      }).then(
                          res=>{
                              res.json().then(
                                  data=>{
                                      console.log(data)
                                      if(data.length > 0){
                                        var temp ="";

                                        //start for loop 
                                        data.forEach((u)=>{
                                            temp +="<tr>";
                                            temp +="<td>"+u.id+"</td>";
                                            temp +="<td>"+u.fullName+"</td>";
                                            temp +="<td>"+u.accNo+"</td>";
                                            temp +="<td>"+u.phoneNumber+"</td>";
                                            temp +="<td>"+u.email+"</td>";
                                        })
                                        document.getElementById("data").innerHTML = temp;
                                      }
                                  }
                              )
                          }
                      )
                  </script>
                <!--<div class="form-popup" id="myForm">
                    <form action="" class="form-container">
                      <button type="button" class="btn cancel" onclick="closeForm()">Decline Request</button>
                      <button type="submit" class="btn">Approve Request</button>
                  
                    </form>
                </div>-->

            </div>


            <!-- End of Main Content -->

            <!-- Footer -->
            <!--<footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Airopay Inc 2021</span>
                    </div>
                </div>
            </footer>-->
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/login">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Core plugin JavaScript-->
    <!-- <script src="vendor/jquery-easing/jquery.easing.min.js"></script> -->

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <!-- <script src="vendor/chart.js/Chart.min.js"></script> -->
    <script type="text/javascript" src="js/airopay.js"></script>

    <!-- Page level custom scripts -->
    <script>
        function airopayFunction() {
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("myTable");
          tr = table.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }       
          }
        }


            
    </script>
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap.min.js"></script>
<script>$(document).ready(function () {
        $('.cust_table').DataTable({
            "columnDefs": [{
                "orderable": false,
                "targets": 'no-sort'
            }]
        });
    });</script>
        

</body>

</html>